<a href="https://colab.research.google.com/github/jyotisubham1/Pw_ds_assignments/blob/main/02_feb_ass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q.1

Yes, tuples in Python are immutable, which means their elements cannot be modified once the tuple is created.

Some characteristics of tuples are 

Immutable: Tuples are immutable, which means their elements cannot be modified once the tuple is created. However, we can create a new tuple with modified elements.

Ordered: Tuples maintain the order of elements as they are added.

Heterogeneous: It can contain elements of different data types, such as integers, strings, floats, or even other tuples.

Iteration: It can be iterated over using loops.

Q.2

The two built-in method of tuples are 1. tuple count 2. tuple index

1. tuple count is a method returns the number of occurance. It takes a single argument, which is the value to be counted.

2. tuple index returns the index of the first occurance. It is also take single argument but which is the value to be searched.

two examples are given bellow

In [ ]:
# tuple.count

my_tuple = (1, 2, 3, 7, 6, 2, 5, 2)
count = my_tuple.count(2)
print(count)

3

In [ ]:
#tuple.index

my_tuple = (1, 2, 3, 2, 4, 2, 5, 2)
index = my_tuple.index(3)
print(index)

2

As tuples are immutable, It cannot be modified, while lists are mutable. There is no need for methods like append(), remove(), or sort(), which are commonly used with lists to modify their contents for this reason tuples are light weight.

Q.3

SET is the datatype which doesnot allow duplicate items. Given below the code to remove duplicate item from 

List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [ ]:
my_list = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
my_set = set(my_list)        # Convert list to set 
my_list_without_duplicates = list(my_set)  # Convert set back to list
print(my_list_without_duplicates)

[1, 2, 3, 4]

Q.4

The major difference between union() and update() are union() creat a totaly new set where as the update() method just update a set with another. 

two examples are given bellow

In [ ]:
# union()

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
# update()

set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)
print(set1)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

Q.5

A dictionary in Python is a collection of key-value pairs. It is a mutable and unordered data structure, meaning that the elements are not stored in any specific order.

In [ ]:
student = {
    "name": "Subham",
    "age": 23,
    "grade": "A",
    "city": "Bhubaneswar"
}
print(student["age"])

23

In the above example we have a dictionary of student having all the data like his name, age grade and adress.

Q.6

Yes, we can create a nested dictionary in Python.

an example is given below

In [ ]:
student = {
    "name": "Subham",
    "age": 23,
    "grades": {
        "math": 100,
        "science": 92,
        "history": 80
    }
}
print(student["grades"]["math"])

100

Q.7

In [ ]:
dict1 = {'language': 'Python', 'course': 'Data Science Masters'}
dict1.setdefault('topics', ['Python', 'Machine Learning', 'Deep Learning'])

print(dict1)

{'language': 'Python', 'course': 'Data Science Masters', 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

Q.8

The three view objects in dictionaries are "dict_keys", "dict_values", and "dict_items". 

example given below

In [ ]:
dict1 = {'Sport': 'Cricket', 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

# Displaying dict_keys
keys = dict1.keys()
print("Keys:", keys)

# Displaying dict_values
values = dict1.values()
print("Values:", values)

# Displaying dict_items
items = dict1.items()
print("Items:", items)

Keys: dict_keys(['Sport', 'Teams'])
Values: dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])
Items: dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])