<a href="https://colab.research.google.com/github/jyotisubham1/Pw_ds_assignments/blob/main/04_feb_ass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q.1

In [2]:
data = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

sorted_data = sorted(data, key=lambda x: x[1]) #the lambda funmctiuon is used to return the 2nd elememnt X[1] of each tupkle x 

print(sorted_data)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

Q.2

In [4]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

squared_numbers = list(map(lambda x: x ** 2, numbers))   # map function is used for applying lambda func. to each element

print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q.3

In [6]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

str_tuple = tuple(map(lambda x: str(x), num))

print(str_tuple)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q.4

In [8]:
from functools import reduce #reduce() function applies this lambda function to the numbers in a cumulative manner

num1 = list(range(1, 26))

product = reduce(lambda x, y: x * y, num1)

print(product)

15511210043330985984000000

Q.5

In [10]:
num2 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

fil_num = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, num2))

print(fil_num)

[6, 60, 90, 120]

Q.6

In [11]:
strings = ['python', 'php', 'aba', 'radar', 'level']

palindromes = list(filter(lambda x: x == x[::-1], strings))

print(palindromes)

['php', 'aba', 'radar', 'level']